/* Style Sheet for Calculator App */

/* BACKGROUND */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

/* CALCULATOR APP DIV */
#calculator-app {
  border: 4px solid black;
  display: grid;
  box-sizing: border-box;
  height: 90vh;
  aspect-ratio: 4 / 5;
  background-color: #ffb20f;

  /* flex-direction: column;
  justify-content: space-evenly; */
  padding: 0.5rem;
  border-radius: 3rem;
  grid-template-rows: 10% 25% 65%;
}

/* TOP, SCREEN, AND NUMBERS FOR CALCULATOR */
#calc-top {
  padding: 0.5rem;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  min-height: 0;
}

/* HEADING */
/* #heading {
  background-color: blue;
  color: grey;
  border-radius: 1rem;
  font-size: 4rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
} */

#calc-screen {
  padding: 0.5rem;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  min-height: 0;
}

#calc-screen input:focus {
  outline: none;
}

#screen {
  border: 3px solid black;
  border-radius: 2rem;
  background-color: #ebede3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  text-justify: center;
}

.numpad {
  border: 3px solid black;
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  min-height: 0;
}

.numpad button {
  background-color: #ebede3;
  color: black;
  /* -webkit-text-stroke: 0.5px black; */
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  text-justify: center;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  width: 70%;
  height: 80%;
}

.numpad button:hover {
  background-color: grey;
}

/* Make single digit button text the correct size */
.numpad .single-digit {
  font-size: 3rem;
}

/* Make single word button text the correct size */
.numpad .single-word {
  font-size: 2rem;
}
